body{
  margin: 0;
}
.fas{
  color:#00DBA3;
}
.fas:hover{
  color: red;
}
li{
  display: inline;
}
li:active{
  background-color: #00DBA3;
}
li:hover{
  background-color: #00DBA3;
}


.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-rounded.Mui-selected{
  background-color: transparent;
  margin: 0;
}
.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-rounded{
  color: white;
  font-weight: 500;
  padding: 16px 27px 45px 27px;
  font-size: 19px;
}
.MuiPaginationItem-root.MuiPaginationItem-page.MuiPaginationItem-rounded:active{
  z-index: 2;
  color: #ffffff;
  background-color: #00dba3;
  border-color: transparent;
  cursor: default;
}